numpy
torch
git+https://github.com/huggingface/transformers.git
accelerate
peft
flash-attn
sentencepiece
gradio
fastapi
uvicorn
wandb
markdown2[all]
requests
prompt_toolkit
rich
transformers>=4.53.0 # not directly required, pinned by Snyk to avoid a vulnerability
